  /* Color Scheme */
  /* https://coolors.co/33658a-86bbd8-2f4858-f6ae2d-f26419*/
  
  /*Sticky footer*/
.Site {
  /* display: flex; */
  min-height: 100vh;
  flex-direction: column;
}

.main-content-section {
  flex: 1;
  min-height: 75vh;
  margin-bottom: 40px;
  margin-top: 10px;
}

/* Color of site background */
/* #03A9f4*/
body {
  background-color: #86BBD8;
}

/* Color of top navigation bar */
/*#007AC1*/
.appBar {
  background-color: #33658A !important;
  padding-bottom: 20px;
  border-bottom: 8px solid #2F4858;
}

/* Color of headers */
.header {
  color: white !important;
}

/* Remove any text decoration from links.*/
a {
  text-decoration: none;
}

.footer {
  background-color: #33658A !important;
  color: 'white';
  border-top: 8px solid #2F4858;
}




