  /*Sticky footer*/
.Site {
  /* display: flex; */
  min-height: 100vh;
  flex-direction: column;
}

.main-content-section {
  flex: 1;
  min-height: 100vh;
}

body {
  background-color: #03A9f4;
}

.appBar {
  background-color: #007AC1 !important;
}

.header {
  color: white !important;
}



